@import url("https://use.typekit.net/luz4znz.css");

body {
  font-family: proxima-soft, sans-serif;
  background: #FDF2E9;
}

.hidden {
  display: none !important;
}

h1{
  margin-left:20px;
}

.shelf {
  font-family: proxima-soft, sans-serif;
  font-size:20px;
  font-weight: 700;
  border: 5px solid black;
  width:100%;
  background:#5DADE2;
}

.shelf .book-spine {
  margin-left:20px;
  margin-bottom:5px;
}

.shelf .book-spine.active {
  background: #D6EAF8;
}

.shelf .book-spine:hover {
  background: #D6EAF8;
}

a:hover{
  text-decoration:none;
  color:none;
}

a:click{
  text-decoration:none;
  color:none;
}

a{
  text-decoration: underline;
  color:black;
}

.book-detail {
  display: flex;
  float:right;
  margin-top:20%;
}

.info{
  margin-left:40%;
}

.figure {
  width: 20px;
  height:auto;
  flex: none;
  margin-right:30px;
  margin-left:10%;
}

.book-detail .Cover_image {
  width: 30px;
  height:40px;
  padding: 5px;
  box-sizing: border-box;
}

.book-detail .More_info {
  max-width: 600px;
}

.book-detail .Title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
}

.book-detail .Description {
  margin-top: 0.5em;
  font-size: 36px;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .book-detail {
    flex-direction: column;
  }
  .book-detail .figure {
    width: 30px;
    max-width: 30px;
    margin: auto;
    margin-bottom: 2em;
  }
}

.container .box {
    display:table;
}

.container .box .box-row {
    display:table-row;
}

.container .box .box-cell {
    display:table-cell;
    width:100%;
    padding:10px;
}

.container .box .box-cell.box1 {
    background:#FDF2E9;
    text-align:justify;
    width:90%;
}

.container .box .box-cell.box2 {
    background:#FDF2E9;
    text-align:left;
    width:60%;
   position:absolute;
}
